import /vendor/etc/init/hw/init.oem.sec.rc

service dashd /vendor/bin/dashd
    class core
    critical
    seclabel u:r:dashd:s0
    group root system

service wlchgd /vendor/bin/wlchgd
    class main
    disabled
    seclabel u:r:wlchgd:s0
    group root system

service qbcharger /charger -m 1
    disabled
    oneshot

on property:sys.qbcharger.enable=true
    start qbcharger

on property:sys.qbcharger.enable=false
    stop qbcharger

on fs
    mkdir /mnt/vendor/op1 0660 system system
    mkdir /mnt/vendor/op2 0660 system system
    mkdir /mnt/vendor/cust1 0660 system system
    mkdir /mnt/vendor/cust2 0660 system system
    mkdir /mnt/vendor/my_cota 0660 system system
    wait /mnt/vendor/op2
    chown system system /mnt/vendor/op2
    mount ext4 /dev/block/bootdevice/by-name/op1 /mnt/vendor/op1 ro barrier=1 discard context=u:object_r:op1_file:s0
    mount ext4 /dev/block/bootdevice/by-name/op2 /mnt/vendor/op2 noatime nosuid nodev barrier=1

    chown system system /sys/class/power_supply/battery/is_aging_test
    chown system system /sys/class/power_supply/battery/dump_reg

    chown system system /sys/bus/platform/devices/soc/soc\:tri_state_key/hall_data_calib
    chown system system /sys/bus/platform/devices/soc/soc\:tri_state_key/hall_set_value

    write /sys/devices/platform/soc/a94000.i2c/i2c-4/4-004b/tp_fw_update 0
    write /sys/devices/platform/soc/a94000.i2c/i2c-4/4-0048/tp_fw_update 0
    write /sys/devices/platform/soc/984000.i2c/i2c-4/4-005d/tp_fw_update 0
    write /sys/devices/platform/soc/984000.i2c/i2c-4/4-0048/tp_fw_update 0

    chown system system /proc/touchpanel/gesture_enable
    chown system system /proc/touchpanel/gesture_switch
    chown system system /proc/touchpanel/tpedge_limit_enable
    chown system system /proc/touchpanel/tp_switch_dead_zone
    chown system system /proc/touchpanel/tp_switch_corner_dead_l_zone
    chown system system /proc/touchpanel/tp_switch_corner_dead_p_zone

    chown system system /proc/wireless/enable_tx
    chown system system /proc/wireless/enable_rx
    chown system system /proc/wireless/epp_or_bpp
    chown system system /proc/wireless/current_out
    chown system system /proc/wireless/rx_voltage
    chown system system /proc/wireless/charge_pump_en
    chown system system /proc/wireless/deviated
    chown system system /proc/wireless/quiet_mode
    chown system system /proc/wireless/fast_skin_threld

    chown system system /proc/enhance_dash

    chown system system /sys/class/leds/led:torch_0/brightness
    chmod 666 /sys/class/leds/led:torch_0/brightness
    chown system system /sys/class/leds/led:torch_1/brightness
    chmod 666 /sys/class/leds/led:torch_1/brightness
    chown system system /sys/class/leds/led:switch_0/brightness
    chmod 666 /sys/class/leds/led:switch_0/brightness
    chown system system /sys/class/leds/led:switch_1/brightness
    chmod 666 /sys/class/leds/led:switch_1/brightness
    chown system system /sys/class/leds/led:switch_2/brightness
    chmod 666 /sys/class/leds/led:switch_2/brightness
    chown system system /sys/class/leds/led:torch_2/brightness
    chmod 666 /sys/class/leds/led:torch_2/brightness
    chown system system /sys/class/leds/led:switch_3/brightness
    chmod 666 /sys/class/leds/led:switch_3/brightness
    mkdir /mnt/vendor/persist/camera 0777 system system

    chown system system /dev/stmvl53l1_ranging
    chmod 0666 /dev/stmvl53l1_ranging
    start vl53l1_daemon_main

    chown system system /sys/kernel/tof_control/app0/capture
    chmod 666 /sys/kernel/tof_control/app0/capture
    chown system system /sys/kernel/tof_control/app0/app0_get_fac_calib
    chmod 666 /sys/kernel/tof_control/app0/app0_get_fac_calib
    chown system system /sys/kernel/tof_control/app0/app0_get_distance
    chmod 666 /sys/kernel/tof_control/app0/app0_get_distance
    chown system system /sys/kernel/tof_control/app0/app0_read_peak_crosstalk
    chmod 666 /sys/kernel/tof_control/app0/app0_read_peak_crosstalk

    chown system system /dev/msm_thermal
    chown system system /dev/skin_thermal
    chown system system /dev/modem_skin_thermal
    chown system system /dev/mmw0_thermal
    chown system system /dev/mmw1_thermal
    chown system system /dev/mmw2_thermal
    chmod 0664 /dev/msm_thermal
    chmod 0664 /dev/skin_thermal
    chmod 0664 /dev/modem_skin_thermal
    chmod 0664 /dev/mmw0_thermal
    chmod 0664 /dev/mmw1_thermal
    chmod 0664 /dev/mmw2_thermal

    chmod 0666 /sys/class/drm/card0-DSI-1/hbm
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm_brightness
    chmod 0666 /sys/class/backlight/panel0-backlight/brightness

    restorecon /sys/class/leds/vibrator/activate
    restorecon /sys/class/leds/vibrator/brightness
    restorecon /sys/class/leds/vibrator/duration
    restorecon /sys/class/leds/vibrator/state
    chown audioserver audioserver /dev/awinic_haptic
    chown audioserver audioserver /sys/class/leds/vibrator/haptic_audio
    chown audioserver audioserver /sys/class/leds/vibrator/gun_type
    chown audioserver audioserver /sys/class/leds/vibrator/bullet_nr
    chmod 777 /sys/class/leds/vibrator/gun_type
    chmod 777 /sys/class/leds/vibrator/bullet_nr
    chmod 777 /sys/class/leds/vibrator/register

    chown system system /sys/class/leds/vibrator/haptic_audio_ai_input
    chown system system /sys/class/leds/vibrator/haptic_audio_tp_input
    chown system system /sys/class/leds/vibrator/haptic_audio_tp_size
    chown audioserver audioserver /sys/class/leds/vibrator/register
    chown system system /sys/class/leds/vibrator/vmax_mv
    chmod 660 /sys/class/leds/vibrator/vmax_mv
    chmod 660 /sys/class/leds/vibrator/rtp
    chmod 660 /sys/class/leds/vibrator/haptic_audio_tp_time
    chmod 644 /sys/class/leds/vibrator/haptic_osc_data
    chmod 660 /sys/class/leds/vibrator/ram_test
    chmod 644 /sys/class/leds/vibrator/ram_update
    chmod 644 /sys/class/leds/vibrator/f0_cali_data
    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/state
    chown system system /sys/class/leds/vibrator/rf_hz
    chown system system /sys/class/leds/vibrator/lra_resistance
    chown system system /sys/class/leds/vibrator/gain
    chown system system /sys/class/leds/vibrator/vmax
    chown system system /sys/class/leds/vibrator/index
    chown system system /sys/class/leds/vibrator/activate_mode
    chown system system /sys/class/leds/vibrator/seq
    chown system audio /sys/class/leds/vibrator/rtp
    chown system audio /sys/class/leds/vibrator/haptic_audio_tp_time
    chown system system /sys/class/leds/vibrator/loop
    chown system system /sys/class/leds/vibrator/ignore_store
    chown system system /sys/class/leds/vibrator/osc_cali
    chown system system /sys/class/leds/vibrator/haptic_osc_data
    chown system system /sys/class/leds/vibrator/ram_test
    chown system system /sys/class/leds/vibrator/ram_update
    chown system system /sys/class/leds/vibrator/f0_cali_data

on boot
    chmod 0666 /dev/goodix_fp
    chmod 0660 /sys/devices/platform/soc/soc:fingerprint_detect/sensor_version
    chown system system /sys/devices/platform/soc/soc:fingerprint_detect/sensor_version
    chmod 0666 /proc/touchpanel/touch_hold
    chown system system /proc/touchpanel/touch_hold
    chmod 0664 sys/devices/platform/soc/soc:goodix_fp/screen_state
    chown system system sys/devices/platform/soc/soc:goodix_fp/screen_state
    chmod 0666 /dev/qseecom

    chmod 0644 /d/regmap/0-0034/registers
    chmod 0644 /d/regmap/0-0035/registers
    chmod 0644 /d/regmap/0-0042/registers

    chmod 0666 /sys/class/drm/card0-DSI-1/SRGB
    chmod 0666 /sys/class/drm/card0-DSI-1/DCI_P3
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm
    chmod 0666 /sys/class/drm/card0-DSI-1/aod
    chmod 0666 /sys/class/drm/card0-DSI-1/night_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/panel_serial_number
    chmod 0666 /sys/class/drm/card0-DSI-1/oneplus_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/adaption_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/notify_fppress
    chmod 0666 /sys/class/drm/card0-DSI-1/dim_alpha
    chmod 0666 /sys/class/drm/card0-DSI-1/notify_dim
    chmod 0666 /sys/class/drm/card0-DSI-1/notify_aod
    chmod 0666 /sys/class/drm/card0-DSI-1/force_screenfp
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_p3_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_wide_color_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm_brightness
    chmod 0666 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dynamic_dsi_clock
    chown radio radio /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dynamic_dsi_clock
    chown radio radio /proc/force_reset
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_loading_effect_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_customer_srgb_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/native_display_customer_p3_mode
    chmod 0666 /sys/class/drm/card0-DSI-1/dimlayer_bl_en
    chmod 0666 /sys/class/drm/card0-DSI-1/dither_en

on init
    setprop vendor.boot.verifiedbootstate ${ro.boot.verifiedbootstate}
    setprop vendor.boot.hw_version ${ro.boot.hw_version}

    #@bsp, 2019/08/22 Add dash charging
    chown system system /dev/dash
    chmod 0664 /dev/dash
    chown system system /dev/wlchg
    chmod 0664 /dev/wlchg

on post-fs
    mkdir /mnt/vendor/op2/recovery 0770 root system

    chmod 0664 /sys/module/qpnp_smb5/parameters/usb_connector_temp
    chown system system /sys/module/qpnp_smb5/parameters/usb_connector_temp
    chmod 0664 /sys/module/qpnp_smb5/parameters/disable_connector_protect
    chown system system /sys/module/qpnp_smb5/parameters/disable_connector_protect
    chmod 0664 /sys/module/qpnp_smb5/parameters/usb_interval_temp
    chown system system /sys/module/qpnp_smb5/parameters/usb_interval_temp
    chmod 0664 /sys/module/qpnp_smb5/parameters/call_on
    chown radio radio /sys/module/qpnp_smb5/parameters/call_on
    chmod 0666 /sys/module/qpnp_smb5/parameters/video_call_on
    chown system system /sys/module/qpnp_smb5/parameters/video_call_on
    chown system system /proc/skin_temp_thrd/fastchg_thd
    chown system system /proc/skin_temp_thrd/fastchg_lcdoff_thd
    chown system system /proc/skin_temp_thrd/norchg_thd
    chown system system /proc/skin_temp_thrd/norchg_lcdoff_thd
    chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_cur_freq
    chmod 0444 /sys/devices/system/cpu/cpu1/cpufreq/cpuinfo_cur_freq
    chmod 0444 /sys/devices/system/cpu/cpu2/cpufreq/cpuinfo_cur_freq
    chmod 0444 /sys/devices/system/cpu/cpu3/cpufreq/cpuinfo_cur_freq
    chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/cpuinfo_cur_freq
    chmod 0444 /sys/devices/system/cpu/cpu5/cpufreq/cpuinfo_cur_freq
    chmod 0444 /sys/devices/system/cpu/cpu6/cpufreq/cpuinfo_cur_freq
    chmod 0444 /sys/devices/system/cpu/cpu7/cpufreq/cpuinfo_cur_freq

#   /* create a empty file for wifi hal to write mac address */
    mkdir /mnt/vendor/persist/qca6390 0770 wifi wifi
    write /mnt/vendor/persist/qca6390/wlan_mac.bin ""
    chown wifi wifi /mnt/vendor/persist/qca6390/wlan_mac.bin
    copy /vendor/etc/wifi/qca6390/WCNSS_qcom_cfg.ini /mnt/vendor/persist/qca6390/WCNSS_qcom_cfg.ini
    chown wifi wifi /mnt/vendor/persist/qca6390/WCNSS_qcom_cfg.ini
#   /* create a empty file for wifi hal to write qca6490 mac address */
    write /mnt/vendor/persist/wlan_mac.bin ""
    chown wifi wifi /mnt/vendor/persist/wlan_mac.bin
#   /* Implement the function of forced Chain0/1 insmod WCNSS_qcom_cfg.ini */
    copy /vendor/etc/wifi/WCNSS_qcom_cfg.ini /mnt/vendor/persist/WCNSS_qcom_cfg.ini
    chown wifi wifi /mnt/vendor/persist/WCNSS_qcom_cfg.ini

#ken.chenxm@SYSTEM, 2019/10/10, add for [OSP-3172] charging optimizated
    chown system system /sys/class/power_supply/battery/op_disable_charge
    chmod 660 /sys/class/power_supply/battery/op_disable_charge
    chown system system /sys/class/power_supply/bms/battery_h
    chmod 660 /sys/class/power_supply/bms/battery_h

#randle.liu@optimization, 2020/04/24, [OSP-6116] avoid waking up when wireless charging disconnects
    chown system system /sys/class/power_supply/wireless/icon_delay
    chmod 660 /sys/class/power_supply/wireless/icon_delay

#jay.fa@OPTI, 2020/08/12, add for [OPTI-42] hypnus
    chown root system /sys/class/thermal/cooling_device0/cur_state
    chown root system /sys/class/thermal/cooling_device1/cur_state
    chown root system /sys/class/thermal/cooling_device2/cur_state
    chown root system /sys/class/kgsl/kgsl-3d0/max_pwrlevel
    chown root system /sys/class/kgsl/kgsl-3d0/min_pwrlevel
    chown root system /sys/class/thermal/cooling_device14/cur_state
    chmod 660 /sys/class/thermal/cooling_device0/cur_state
    chmod 660 /sys/class/thermal/cooling_device1/cur_state
    chmod 660 /sys/class/thermal/cooling_device2/cur_state
    chmod 660 /sys/class/kgsl/kgsl-3d0/max_pwrlevel
    chmod 660 /sys/class/kgsl/kgsl-3d0/min_pwrlevel
    chmod 660 /sys/class/thermal/cooling_device14/cur_state

on post-fs-data
    mkdir /data/reserve-lib 0775 system system

    mkdir /data/vendor/oemnvitems 0771 radio radio
    #brandon.zeng@Conn,2020/08/11. move data path to post-fs-data
    mkdir /data/vendor/nfc 0770 nfc nfc

# TomCheng@Core ,2020/06/22, HDCP provision key feature
    mkdir /mnt/vendor/persist/hdcp/media_dump 0770 mediaex mediadrm
    mkdir /mnt/vendor/persist/hdcp  775 media mediadrm
    restorecon /mnt/vendor/persist/hdcp

#binson.xu@oneplus.com, 2019/02/17, add for write alikey
service mvalikey /system/bin/cp -rp /sdcard/.lii   /mnt/vendor/op2/
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service rmalikey /system/bin/rm -r /mnt/vendor/op2/.lii
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service vl53l1_daemon_main /vendor/bin/vl53l1_daemon_main
    class late_start
    user system
    group system
    socket vl53l1_daemon stream 660 system system

#kim@bsp 2019/10/25 add to fix apsd wrong issue when boot with dash connected
on property:sys.boot_completed=1
    copy /vendor/etc/OnePlus_QC_LTM_Commercial_SM8250_2020_02_07.pfm /mnt/vendor/persist/data/pfm/licenses/1000-1000-no-exp-2013248336.pfm
    chmod 0600 /mnt/vendor/persist/data/pfm/licenses/1000-1000-no-exp-2013248336.pfm
    chown system system /mnt/vendor/persist/data/pfm/licenses/1000-1000-no-exp-2013248336.pfm
    write /sys/module/smb5_lib/parameters/sys_boot_complete 1

# TomCheng@Core ,2020/06/22, HDCP provision key feature
service mvhdcpkey /system/bin/mv /sdcard/hdcpkey /mnt/vendor/op2/hdcpkey
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service rmhdcpkey /system/bin/rm /mnt/vendor/op2/hdcpkey
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service chmodhdcpkey /system/bin/chmod 777 /mnt/vendor/op2/hdcpkey
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service dphdcp2p2prov /vendor/bin/hdcp2p2prov /mnt/vendor/op2/dphdcp2key /mnt/vendor/op2/DPS_hdcp2
    class core
    setenv LD_LIBRARY_PATH /vendor/lib64
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vendor_init:s0

service verifydphdcp2p2prov /vendor/bin/hdcp2p2prov -verify
    class core
    setenv LD_LIBRARY_PATH /vendor/lib64
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vendor_init:s0

service mvdphdcp2key /system/bin/mv /sdcard/dphdcp2key /mnt/vendor/op2/dphdcp2key
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service rmdphdcp2key /system/bin/rm /mnt/vendor/op2/dphdcp2key
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service mvdpshdcp2 /system/bin/mv /sdcard/DPS_hdcp2 /mnt/vendor/op2/DPS_hdcp2
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service rmdpshdcp2 /system/bin/rm /mnt/vendor/op2/DPS_hdcp2
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

# narci.gu@SYSTEM, 2018/7/23, [AN-709] Add for keymaster key
service KmInstallKeybox19805 /vendor/bin/KmInstallKeybox /mnt/vendor/op2/.lii/keyboxes_ciphered.xml OnePlus8T_Key_Attest_0 true
    class core
    setenv LD_LIBRARY_PATH /vendor/lib64/hw
    user system
    group root
    disabled
    oneshot
    seclabel u:r:keybox_oem:s0

service KmInstallKeybox20809 /vendor/bin/KmInstallKeybox /mnt/vendor/op2/.lii/keyboxes_ciphered.xml OnePlus8TTMO_Key_Attest_0 true
    class core
    setenv LD_LIBRARY_PATH /vendor/lib64/hw
    user system
    group root
    disabled
    oneshot
    seclabel u:r:keybox_oem:s0

service keyboxxml /system/bin/mv /sdcard/.lii /mnt/vendor/op2/
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service rmkeyboxxml /system/bin/rm -rf /mnt/vendor/op2/.lii
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

service chmodkeyboxxmldir /system/bin/chmod 777 -R /mnt/vendor/op2/.lii
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:vold:s0

on property:ro.boot.project_codename=instantnoodle
    setprop persist.radio.multisim.config dsds

on property:ro.boot.project_codename=instantnoodlep
    setprop persist.radio.multisim.config dsds

on property:ro.boot.project_codename=kebab
    setprop persist.radio.multisim.config dsds
